.client-feedback {
    position: relative;
    .profile {
        width: 350px;
        height: 350px;
        background-image: url(../../images/pexels-photo-1011529.jpeg);
        background-position: center;
        z-index: 1;
        position: absolute;
        border: 10px solid $cornflower-blue;
    }
}

.user-detail {
    background-color: $black-russian;
    height: 350px;
    width: 1000px;
    color: $white;
    padding: 20px 50px;
    margin-top: 50px;
    z-index: -1;
    position: relative;
    left: 5%;
    &__name {
        position: relative;
        left: 35%;
        margin: 0;
    }
    &__job {
        margin: 0;
        position: relative;
        left: 35%;
    }
    &__quote {
        margin: 50px 0;
        position: relative;
        left: 37%;
        font-weight: 100;
        font-size: 1.3rem;
        max-width: 600px;
        line-height: 1.4;
        position: relative;
        margin: 3rem 0;
        padding: 0rem;
        &::before,
        &::after {
            position: absolute;
            color: #f1efe6;
            font-size: 6rem;
            width: 4rem;
            height: 4rem;
        }
        &::before {
            content: '“';
            left: -3rem;
            top: -3rem;
        }
        &::after {
            content: '”';
            right: 2.1rem;
            bottom: -1.4rem;
        }
    }
    &__btn {
        position: relative;
        left: 35%;
        margin: 40px 20px;
        button {
            margin-right: 20px;
        }
    }
}