.timeline {
    margin: 4em auto;
    position: relative;
    max-width: 46em;
    &:before {
        background-color: $color-1;
        content: '';
        margin-left: -1px;
        position: absolute;
        top: 0;
        left: 2em;
        width: 2px;
        height: 100%;
    }
}

.timeline-event {
    position: relative;
}