$primary-color: $red;
$timeline-color: $primary-color;
// Mixins and Placeholders
%clearfix {
    &:after,
    &:before {
        content: '';
        display: block;
        width: 100%;
        clear: both;
    }
}

@mixin prefix($prop, $val) {
    @each $prefix in '-webkit-',
    '-moz-',
    '-ms-',
    '' {
        #{$prefix}#{$prop}: $val;
    }
}

.orange {
    background: $carnation !important;
}

.timeline {
    width: 100%;
    margin: 30px auto;
    position: relative;
    padding: 0 10px;
    @include prefix(transition, all .4s ease);
    &:before {
        content: "";
        width: 2px;
        height: 100%;
        background: $timeline-color;
        left: 20.7%;
        top: 0;
        position: absolute;
    }
    &:after {
        content: "";
        clear: both;
        display: table;
        width: 100%;
    }
    .timeline-item {
        margin-bottom: 50px;
        position: relative;
        @extend %clearfix;
        .timeline-icon {
            background: $mulberry;
            width: 50px;
            height: 50px;
            position: absolute;
            top: 0;
            left: 20%;
            overflow: hidden;
            margin-left: -23px;
            @include prefix(border-radius, 50%);
            svg {
                position: relative;
                top: 14px;
                left: 14px;
            }
        }
        .timeline-content {
            border: 1px solid $timeline-color;
            width: 75%;
            background: transparent;
            padding: 20px;
            @include prefix(box-shadow, 0 3px 0 rgba(0, 0, 0, 0.1));
            @include prefix(border-radius, 5px);
            @include prefix(transition, all .3s ease);
            h2 {
                font-size: 24px;
                padding: 1px;
                background: transparent;
                margin: -18px -18px 0 -18px;
                font-weight: 300;
                @include prefix(border-radius, 3px 3px 0 0);
            }
            &:before {
                content: '';
                position: absolute;
                left: 75%;
                top: 20px;
                width: 0;
                height: 0;
                border-top: 7px solid transparent;
                border-bottom: 7px solid transparent;
                border-left: 7px solid $timeline-color;
            }
            &.right {
                float: right;
                &:before {
                    content: '';
                    right: 75%;
                    left: inherit;
                    border-left: 0;
                    border-right: 7px solid $timeline-color;
                }
            }
        }
    }
}